@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  background: #fffcf7;
  color: #4d4c4c;
  padding: 2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  color: #08090d;
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  line-height: 1.25em;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.75em;
}

p {
  font-size: 0.9em;
}

button,
select {
  color: #502d1a;
  border-style: solid;
  border-width: 0.1em;
  border-color: #f3bc58;
  background-color: #fffcf7;
  border-radius: 2em;
  font-weight: 800;
  padding: 0.7em 1.75em;
  cursor: pointer;
}

button:hover,
select:hover {
  background-color: #f3bc58;
  border-color: #fff;
  -webkit-box-shadow: 5px 10px 25px #b3b2b04f;
          box-shadow: 5px 10px 25px #b3b2b04f;
}

.nav-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container header img {
  width: 2.5em;
}

.nav-container header .site-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.nav-container header .site-logo span {
  margin-right: 0.5em;
}

.nav-container header .site-logo a {
  color: #502d1a;
  font-family: "Amaranth", sans-serif;
  font-weight: 800;
  margin-top: 0.5em;
}

.nav-container header .hamburger-menu {
  padding-top: 0.55em;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.nav-container header .hamburger-menu:hover {
  cursor: pointer;
  opacity: 0.75;
}

.nav-container header .hamburger-menu .line {
  width: 1.25rem;
  height: 2px;
  background: #502d1a;
  margin: 4px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-container header .hamburger-menu.isactive .line:nth-child(2) {
  opacity: 0;
}

.nav-container header .hamburger-menu.isactive .line:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
}

.nav-container header .hamburger-menu.isactive .line:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
}

.nav-container .navbar {
  width: 100%;
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
  display: none;
}

.nav-container .navbar.active {
  display: block;
}

.nav-container .navbar ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
}

.nav-container .navbar ul li {
  display: block;
  margin: 0;
  text-align: center;
  padding: 0.15rem;
}

.nav-container .navbar ul li:hover {
  cursor: pointer;
  background-color: #f3bc58;
  border-radius: 2em;
}

.nav-container .navbar ul li a {
  font-size: 0.85em;
  color: #502d1a;
  font-weight: 700;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hero {
  height: 70vh;
  margin: 3em auto 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .hero-content p {
  margin: 1.75em 0 2.5em;
}

.hero .hero-image {
  margin: 3em 0;
}

.hero .hero-image img {
  position: absolute;
}

.featured .featured-header,
.featured .menu-header,
.regular-menu .featured-header,
.regular-menu .menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.75em;
}

.featured .featured-header h2,
.featured .menu-header h2,
.regular-menu .featured-header h2,
.regular-menu .menu-header h2 {
  padding-top: 0.15em;
}

.featured .featured-header button,
.featured .menu-header button,
.regular-menu .featured-header button,
.regular-menu .menu-header button {
  padding: 0.5em 0.8em;
}

.featured .featured-content,
.featured .menu-content,
.regular-menu .featured-content,
.regular-menu .menu-content {
  width: 100%;
  height: 410px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

.featured .featured-content::-webkit-scrollbar,
.featured .menu-content::-webkit-scrollbar,
.regular-menu .featured-content::-webkit-scrollbar,
.regular-menu .menu-content::-webkit-scrollbar {
  display: none;
}

.featured .featured-content .featured-card,
.featured .featured-content .menu-card,
.featured .menu-content .featured-card,
.featured .menu-content .menu-card,
.regular-menu .featured-content .featured-card,
.regular-menu .featured-content .menu-card,
.regular-menu .menu-content .featured-card,
.regular-menu .menu-content .menu-card {
  min-width: 15.5em;
  height: 80%;
  background-color: #fff;
  border-radius: 1.25em;
  margin: 0.65em;
  -webkit-box-shadow: 5px 15px 30px #eeeee3;
          box-shadow: 5px 15px 30px #eeeee3;
  position: relative;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

.featured .featured-content .featured-card .card-body,
.featured .featured-content .menu-card .card-body,
.featured .menu-content .featured-card .card-body,
.featured .menu-content .menu-card .card-body,
.regular-menu .featured-content .featured-card .card-body,
.regular-menu .featured-content .menu-card .card-body,
.regular-menu .menu-content .featured-card .card-body,
.regular-menu .menu-content .menu-card .card-body {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.featured .featured-content .featured-card .card-body img,
.featured .featured-content .menu-card .card-body img,
.featured .menu-content .featured-card .card-body img,
.featured .menu-content .menu-card .card-body img,
.regular-menu .featured-content .featured-card .card-body img,
.regular-menu .featured-content .menu-card .card-body img,
.regular-menu .menu-content .featured-card .card-body img,
.regular-menu .menu-content .menu-card .card-body img {
  width: 75%;
}

.featured .featured-content .featured-card .card-body .card-title,
.featured .featured-content .featured-card .card-body .card-price,
.featured .featured-content .menu-card .card-body .card-title,
.featured .featured-content .menu-card .card-body .card-price,
.featured .menu-content .featured-card .card-body .card-title,
.featured .menu-content .featured-card .card-body .card-price,
.featured .menu-content .menu-card .card-body .card-title,
.featured .menu-content .menu-card .card-body .card-price,
.regular-menu .featured-content .featured-card .card-body .card-title,
.regular-menu .featured-content .featured-card .card-body .card-price,
.regular-menu .featured-content .menu-card .card-body .card-title,
.regular-menu .featured-content .menu-card .card-body .card-price,
.regular-menu .menu-content .featured-card .card-body .card-title,
.regular-menu .menu-content .featured-card .card-body .card-price,
.regular-menu .menu-content .menu-card .card-body .card-title,
.regular-menu .menu-content .menu-card .card-body .card-price {
  color: #502d1a;
  font-weight: 700;
  font-size: 1.15em;
  margin: 0.25em 0;
}

.featured .featured-content .featured-card .card-body .card-rating,
.featured .featured-content .menu-card .card-body .card-rating,
.featured .menu-content .featured-card .card-body .card-rating,
.featured .menu-content .menu-card .card-body .card-rating,
.regular-menu .featured-content .featured-card .card-body .card-rating,
.regular-menu .featured-content .menu-card .card-body .card-rating,
.regular-menu .menu-content .featured-card .card-body .card-rating,
.regular-menu .menu-content .menu-card .card-body .card-rating {
  color: #f3bc58;
}

.featured .featured-content .featured-card .card-body .card-desc,
.featured .featured-content .menu-card .card-body .card-desc,
.featured .menu-content .featured-card .card-body .card-desc,
.featured .menu-content .menu-card .card-body .card-desc,
.regular-menu .featured-content .featured-card .card-body .card-desc,
.regular-menu .featured-content .menu-card .card-body .card-desc,
.regular-menu .menu-content .featured-card .card-body .card-desc,
.regular-menu .menu-content .menu-card .card-body .card-desc {
  margin: 1em 0;
}

.about {
  margin: 2em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.about .about-image {
  width: 75%;
  margin: 2em auto;
}

.about .about-content p {
  margin: 2em 0;
}

.about .about-content .about-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about .about-content .about-services .left-icons {
  margin-right: 6em;
}

.about .about-content .about-services span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about-content .about-services span img {
  width: auto;
  height: 2.3em;
}

.about .about-content .about-services span p {
  margin: 0.5em 0.5em 1.25em;
  color: #502d1a;
  font-weight: 700;
}

.regular-menu {
  margin: 0 auto 3em;
}

.regular-menu .menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.regular-menu .menu-header h2 {
  padding-top: 0.2em;
}

.regular-menu .menu-header .menu-categories {
  padding: 0.7em 1.1em;
}

.reviews {
  margin: 3em auto;
}

.reviews .reviews-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews .reviews-header h2 {
  padding-top: 0.1em;
}

.reviews .reviews-header button {
  padding: 0.5em 0.8em;
}

.reviews .review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews .review-container img {
  width: 90%;
}

.reviews .review-container .review-content .review-title {
  color: #502d1a;
  font-weight: 700;
  font-size: 1.15em;
  margin: 1em 0;
}

.reviews .review-container .review-content .review-name {
  color: #502d1a;
  margin: 1.25em 0;
}

.chefs {
  margin: 0 auto 3em;
}

.chefs .chef-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chefs .chef-header h2 {
  padding-top: 0.1em;
}

.chefs .chef-header button {
  padding: 0.5em 0.8em;
}

.chefs .chef-content {
  width: 100%;
  height: 410px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

.chefs .chef-content::-webkit-scrollbar {
  display: none;
}

.chefs .chef-content .chef-card {
  min-width: 15.5em;
  height: 80%;
  background-color: #fff;
  border-radius: 1.25em;
  margin: 0.65em;
  -webkit-box-shadow: 5px 15px 30px #eeeee3;
          box-shadow: 5px 15px 30px #eeeee3;
  position: relative;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

.chefs .chef-content .chef-card .card-body {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-top: 1em;
}

.chefs .chef-content .chef-card .card-body img {
  width: 80%;
  border-radius: 0.75em;
}

.chefs .chef-content .chef-card .card-body .card-title {
  color: #502d1a;
  font-weight: 700;
  font-size: 1.15em;
  margin: 0.25em 0;
}

.cta {
  background-color: #fff6e7;
  padding: 1.5em 1.25em;
  border-radius: 1.25em;
  text-align: center;
  margin: 0 auto 3em;
}

.cta .left {
  text-align: left;
}

.cta .left h2 {
  margin-bottom: 1.25em;
}

.cta .left p {
  margin-bottom: 1.5em;
}

.cta .left button {
  background-color: #fff6e7;
  font-size: 0.65em;
  font-weight: 400;
  width: 40%;
}

.cta .left button:hover {
  background-color: #f3bc58;
}

.cta img {
  margin: 2em auto 0;
  width: 65%;
}

.footer-container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.footer-container span img {
  width: 2.5em;
}

.footer-container span a {
  color: #502d1a;
  font-family: "Amaranth", sans-serif;
  font-weight: 800;
  margin: 0.5em;
}

.footer-container hr {
  margin-bottom: 2em;
}

.footer-container .footer-link {
  margin-bottom: 2em;
}

.footer-container .footer-link li {
  line-height: 2.5em;
}

.footer-container .footer-link p {
  padding: 2em 0;
}

.footer-container .footer-link .footer-title {
  color: #08090d;
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-size: 1.15em;
  margin-top: 1em;
}

@media only screen and (min-width: 480px) {
  .hero {
    margin: 3em auto 10rem;
  }
  .hero img {
    max-width: 90%;
  }
}

@media only screen and (min-width: 600px) {
  body {
    padding: 2em 3em;
  }
  .hero {
    margin: 3em auto 10rem;
  }
  .hero img {
    max-width: 80%;
    left: 4em;
  }
  .about .about-image {
    width: 60%;
  }
  .reviews .review-image {
    max-width: 65%;
    margin: 0 auto;
  }
  .reviews .review-image img {
    width: 100%;
  }
  .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2em 4em;
    margin-bottom: 10em;
  }
  .cta .left {
    width: 60%;
  }
  .cta img {
    width: 30%;
    right: 5em;
    position: absolute;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding: 2em 4em;
  }
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-container .hamburger-menu {
    display: none;
  }
  .nav-container .navbar {
    width: 50%;
    display: block;
  }
  .nav-container .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    list-style-type: none;
    padding-top: 0.25em;
  }
  .nav-container .navbar ul li {
    margin: 0 0.5em;
    text-align: center;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 2em;
    border-color: #fffcf7;
  }
  .nav-container .navbar ul li:hover {
    cursor: pointer;
    background-color: #f3bc58;
    border-color: #fff;
  }
  .hero img {
    max-width: 70%;
    left: 5em;
  }
  .footer-container .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer-container .contact-info .footer-contact {
    margin: 2em 10em 0 0;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    padding: 2em 6em;
  }
  .nav-container .navbar {
    width: 40%;
  }
  .hero {
    height: 35vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero .hero-content {
    width: 40vw;
  }
  .hero .hero-content h1 {
    margin: 2em auto 1em;
  }
  .hero .hero-image img {
    width: 50%;
    top: -1em;
    left: 25em;
  }
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 1em auto 3em;
  }
  .about .about-image {
    width: 40vw;
    margin-right: 3em;
  }
  .about .about-content {
    width: 45vw;
    margin-top: 2em;
  }
  .about .about-content .about-services .left-icons {
    margin-right: 0;
  }
  .reviews .review-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 1em auto;
  }
  .reviews .review-container .review-image {
    width: 40vw;
  }
  .reviews .review-container .review-image img {
    max-width: 100%;
  }
  .reviews .review-container .review-content {
    margin: auto 0 auto 2em;
    width: 45vw;
  }
  .cta {
    padding: 4em;
  }
  .cta .left {
    width: 60%;
  }
  .cta img {
    width: 20%;
    right: 10em;
  }
}

@media only screen and (min-width: 1280px) {
  body {
    padding: 2em 10em;
  }
  .nav-container .navbar {
    width: 35%;
  }
  .hero {
    height: 40vh;
  }
  .hero .hero-content {
    width: 35vw;
  }
  .hero .hero-image img {
    width: 48%;
    left: 30em;
  }
  .about .about-image {
    width: 39vw;
    margin-right: 3em;
  }
  .about .about-content .about-services .left-icons {
    margin-right: 5em;
  }
  .cta {
    padding: 4em 6em;
    margin-bottom: 15em;
  }
  .cta img {
    width: 20%;
    right: 18em;
  }
}

@media only screen and (min-width: 1366px) {
  body {
    padding: 2em 12em;
  }
  .nav-container .navbar {
    width: 35%;
  }
  .hero {
    height: 45vh;
  }
}

@media only screen and (min-width: 1453px) {
  body {
    padding: 2em 16em;
  }
  .nav-container .navbar {
    width: 23%;
  }
  .hero {
    height: 45vh;
  }
  .hero .hero-content {
    width: 35vw;
  }
  .hero .hero-image img {
    width: 40%;
    left: 45em;
  }
  .featured span,
  .chefs span {
    display: none;
  }
  .about .about-image {
    width: 20vw;
    margin-right: 3em;
  }
  .about .about-content .about-services .left-icons {
    margin-right: 10em;
  }
  .reviews .review-container .review-image {
    width: 20vw;
  }
  .reviews .review-container .review-content {
    width: 40vw;
  }
  .cta {
    padding: 7em 6em;
    margin-bottom: 17em;
  }
  .cta img {
    width: 13%;
    right: 27em;
  }
}
/*# sourceMappingURL=app.css.map */