//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700;800&display=swap');

//Font variables
$poppins: 'Poppins', sans-serif;
$josefin-sans: 'Josefin Sans', sans-serif;

//Color variables
$primary-color: #fffcf7;
$primary-text-color: #08090d;
$secondary-text-color: #502d1a;
$tertiary-text-color: #5f5e5e;

$primary-button-color: #f3bc58;
$secondary-button-color: #f5c875;

//Styles
* {
	box-sizing: border-box;
	margin: 0;
}

body {
	height: 100vh;
	font-family: $poppins;
	background: $primary-color;
	color: $tertiary-text-color;
	padding: 2em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

h1,
h2 {
	color: $primary-text-color;
	font-family: $josefin-sans;
	font-weight: 800;
}

p {
	font-size: 0.9em;
}

button {
	color: $secondary-text-color;
	background-color: $primary-button-color;
	border-style: none;
	border-radius: 2em;
	font-weight: 800;
	padding: 0.75em 1.5em;

	&:hover {
		background-color: $secondary-button-color;
		box-shadow: 5px 5px 20px rgb(238, 225, 196);
	}
}

.nav-container {
	img {
		width: 1.5em;
	}

	a {
		color: $tertiary-text-color;
	}
}

header {
	display: flex;
	justify-content: space-between;

	.site-logo {
		display: flex;
		margin: 0;

		span {
			margin-right: 0.5em;
		}

		.logo-title {
			color: $secondary-text-color;
			font-family: $josefin-sans;
			font-weight: 700;
			margin-top: 0.35em;
		}
	}

	ul {
		display: flex;

		a {
			font-size: 0.85em;
			display: block;
			padding: 0 0.5em;
		}
	}
}

.hero {
	height: 60vh;
	margin: 2.5em auto;

	h1 {
		line-height: 1.25em;
	}

	p {
		margin: 2em 0;
	}

	.hero-image-container {
		margin: 2em 0;
		position: relative;
		.hero-image {
			img {
				position: absolute;
				width: 100%;
			}
		}
	}
}

.featured {
	.featured-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2em;

		h2 {
			margin-top: 0.25em;
		}

		button {
			padding: 0.5em 0.85em;
		}
	}

	.featured-container {
		display: flex;

		.item-card {
			height: 23em;
			width: 16em;
			background-color: #fff;
			padding: 2em 0.75em;
			border-radius: 1.25em;
			margin: 0.75em;
			box-shadow: 5px 15px 30px rgb(238, 238, 227);
			position: relative;

			.item-card-body {
				text-align: center;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);

				img {
					max-width: 180px;
					margin: 0 auto;
				}

				.menu-title,
				.menu-price {
					color: $secondary-text-color;
					font-weight: 700;
					font-size: 1.15em;
					margin: 0.25em 0;
				}

				.menu-rating {
					color: $primary-button-color;
				}

				.menu-desc {
					margin: 1em 0;
				}
			}
		}
	}
}
