//Google Fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

//Font variables
$open-sans: 'Open Sans', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

//Color variables
$primary-color: #fffcf7;
$secondary-color: #fff6e7;
$primary-text-color: #08090d;
$secondary-text-color: #502d1a;
$tertiary-text-color: #5f5e5e;

$primary-button-color: #f3bc58;
$secondary-button-color: #f5c875;

//Styles
* {
	box-sizing: border-box;
	margin: 0;
}

body {
	height: 100vh;
	font-family: $open-sans;
	font-weight: 600;
	line-height: 1.5em;
	background: $primary-color;
	color: $tertiary-text-color;
	padding: 2em 1.5em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

h1,
h2 {
	color: $primary-text-color;
	font-family: $ubuntu;
	font-weight: 700;
	line-height: 1.25em;
}

p {
	font-size: 0.9em;
}

button,
select {
	color: $secondary-text-color;
	border-style: solid;
	border-width: 0.1em;
	border-color: $primary-button-color;
	background-color: $primary-color;
	border-radius: 2em;
	font-weight: 800;
	padding: 0.7em 1.75em;
	cursor: pointer;

	&:hover {
		background-color: $primary-button-color;
		border-color: $primary-color;
		box-shadow: 5px 10px 25px #b3b2b04f;
	}
}

.nav-container {
	img {
		width: 2.5em;
	}

	header {
		display: flex;
		justify-content: space-between;

		.site-logo {
			display: flex;
			margin: 0;

			span {
				margin-right: 0.5em;
			}

			.logo-title {
				color: $secondary-text-color;
				font-family: $ubuntu;
				font-weight: 800;
				margin-top: 0.5em;
			}
		}

		.hamburger-menu {
			padding-top: 0.55em;
			transition: opacity 0.3s;

			&:hover {
				cursor: pointer;
				opacity: 0.75;
			}

			.line {
				width: 1.25rem;
				height: 2px;
				background: $secondary-text-color;
				margin: 4px 0;
				transition: all 0.3s ease-in-out;
			}

			&.isactive {
				.line:nth-child(2) {
					opacity: 0;
				}

				.line:nth-child(1) {
					transform: translateY(6px) rotate(-45deg);
				}

				.line:nth-child(3) {
					transform: translateY(-6px) rotate(45deg);
				}
			}
		}
	}

	.navbar {
		// background-color: $primary-button-color;
		background-color: $primary-color;
		width: 100%;
		transition: all 2s ease-in;
		// height: 100vh;
		display: none;

		&.active {
			display: block;
		}

		ul {
			// display: flex;
			overflow: hidden;
			list-style-type: none;
			// padding-top: 50%;
			margin: 0;

			li {
				display: block;
				margin: 0;
				width: 100%;
				text-align: center;
				padding: 0.15rem;
				// border-style: solid;
				// border-width: 1.15px 2px;
				// border-color: $primary-button-color;

				&:hover {
					cursor: pointer;
					background-color: $primary-button-color;
				}

				a {
					font-size: 0.85em;
					color: $secondary-text-color;
					font-weight: 700;
					transition: all 0.5s;

					// display: block;
					// padding: 0 0.5em;
				}
			}
		}
	}
}

.hero {
	height: 70vh;
	margin: 3em auto;
	display: flex;
	position: relative;
	// align-items: center;
	flex-direction: column;

	p {
		margin: 1.75em 0 2.5em;
	}

	.hero-image {
		margin: 3em 0;

		img {
			position: absolute;
			// width: 90%;

			// max-width: 30%;
		}
	}
}

.featured,
.regular-menu {
	.featured-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.75em;

		h2 {
			padding-top: 0.15em;
		}

		button {
			padding: 0.5em 0.8em;
		}
	}

	.featured-container,
	.menu-container {
		width: 100%;
		height: 410px;
		margin: auto;
		display: flex;
		align-items: center;

		&::-webkit-scrollbar {
			display: none;
		}

		.item-card {
			min-width: 15.5em;
			height: 90%;
			background-color: #fff;
			border-radius: 1.25em;
			margin: 0.65em;
			box-shadow: 5px 15px 30px rgb(238, 238, 227);
			position: relative;
			left: 0;
			transition: 0.5s;
			text-align: center;

			.item-card-body {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);

				img {
					width: 80%;
				}

				.menu-title,
				.menu-price {
					color: $secondary-text-color;
					font-weight: 700;
					font-size: 1.15em;
					margin: 0.25em 0;
				}

				.menu-rating {
					color: $primary-button-color;
				}

				.menu-desc {
					margin: 1em 0;
				}
			}
		}
	}
}

.about {
	margin: 2em auto;
	display: flex;
	flex-direction: column-reverse;

	p {
		margin: 2em 0;
	}

	.left {
		width: 75%;
		margin: 2em auto;
	}

	.about-services {
		display: flex;
		justify-content: space-between;

		span {
			display: flex;

			img {
				width: auto;
				height: 2.3em;
			}

			p {
				margin: 0.5em 0.5em 1.25em;
				color: $secondary-text-color;
				font-weight: 700;
			}
		}
	}
}

.regular-menu {
	margin: 0 auto 3em;
	.menu-header {
		display: flex;
		justify-content: space-between;

		h2 {
			padding-top: 0.2em;
		}

		.menu-categories {
			padding: 0.7em 1.1em;
		}
	}
}

.reviews {
	margin: 0 auto 3em;
	.reviews-header {
		display: flex;
		justify-content: space-between;

		h2 {
			padding-top: 0.1em;
		}

		button {
			padding: 0.5em 0.8em;
		}
	}

	img {
		width: 90%;
	}
}

.our-chefs {
	margin: 0 auto 3em;

	.chef-header {
		display: flex;
		justify-content: space-between;

		h2 {
			padding-top: 0.1em;
		}

		button {
			padding: 0.5em 0.8em;
		}
	}

	.chef-container {
		margin: 2em auto;

		.chef-card {
			background-color: #fff;
			border-radius: 1.25em;
			padding: 1em;
			box-shadow: 5px 15px 30px rgb(238, 238, 227);
			text-align: center;

			img {
				margin: 0.5em auto 1em;
				border-radius: 1.25em;
			}

			p {
				font-size: 1.25em;
				color: $secondary-text-color;
				font-weight: 700;
			}
		}
	}
}

.cta {
	background-color: $secondary-color;
	padding: 1.5em 1.25em;
	border-radius: 1.25em;
	text-align: center;
	margin: 0 auto 3em;

	.left {
		text-align: left;
		h2 {
			margin-bottom: 1.25em;
		}

		p {
			margin-bottom: 1.5em;
		}

		button {
			background-color: $secondary-color;
			font-size: 0.65em;
			font-weight: 400;
			width: 40%;

			&:hover {
				background-color: $primary-button-color;
			}
		}
	}

	img {
		margin: 2em auto 0;
		width: 70%;
	}
}

.footer-container {
	span {
		display: flex;
		margin-bottom: 1em;

		img {
			width: 2.5em;
		}
		a {
			color: $secondary-text-color;
			font-family: $ubuntu;
			font-weight: 800;
			margin: 0.5em;
		}
	}

	hr {
		margin-bottom: 2em;
	}
}
